@model IEnumerable<Spellthis.Models.Word>
@{
}
<style>
    .glyphicon {
        font-size: 25px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2>
            View Words
        </h2>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">


        <table class="table table-hover">
            <thead>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayNameFor(model => model.AddDate)
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>

            <tbody>

                @foreach (var word in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => word.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => word.AddDate)
                        </td>
                        <td class="grid-icon">
                            <span class="glyphicon glyphicon-play-circle" title="Pronunciate Word" onclick="document.getElementById('@word.Name').play();"></span>
                            <audio id="@word.Name">
                                <source src="@word.AudioFileWebUri" type="audio/mpeg" />
                            </audio>
                        </td>
                        <td class="grid-icon">
                            <a href="https://www.merriam-webster.com/dictionary/@word.Name" target="_blank">
                                <span class="glyphicon glyphicon-list-alt" title="View Definition"></span>
                            </a>
                        </td>
                        <td class="grid-icon">
                            <a asp-action="RemoveWord" asp-route-id="@word.Id"><span class="glyphicon glyphicon-remove" title="Remove Word"></span></a>
                        </td>
                    </tr>

                }

            </tbody>

        </table>

    </div>
</div>
